@import url("bootstrap/css/bootstrap.min.css");

.flash
{
	background: #cee5F5; padding: 0.5em;
	border: 1px solid #aacbe2;
}

.error        
{
	background: #f0d6d6; padding: 0.5em;
	color: #901010;
}
					
.navbar-brand,
.navbar-nav li a 
{
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}

body
{
	background: #efefef
}

table
{
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	width:100%;
	border: 2px solid #333;
}
td, th 
{
	"border: 1px solid #999;"
	padding: 0.5rem;
	text-align: left;
}

A:link
{
	color: #303030;
	text-decoration: none;
}
A:visited
{
	color: #303030;
	text-decoration: none;
}
A:hover
{
	color: #303030;
	text-decoration: none;
} 

h1
{
	color: #282828
}

div.padded {  
      padding-top: 10px;  
      padding-right: 0px;  
      padding-bottom: 0px;  
      padding-left: 10px;  
    }  


