{% extends "layout.html" %}

{% block bar %}
  <li class = "active"><a href="{{ url_for('all_users') }}">All Users</a></li>
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}

{% block body %}

  <h1>All Users</h1>
  {% for name in user_dict %}
    <div style="background: #ffffff">
      <table class="table table-striped">
        <tbody>
          <tr></tr>
          <tr bgcolor="#407040" onmouseover="ChangeBackgroundColor(this)" onmouseout="RestoreBackgroundColor(this)"
            style="cursor: pointer;" onclick="window.document.location='{{url_for("user", username=name)}}';">
              <th>
                <h3 style="color:#e4e4e4">{{name}}</h3>
            </th>
          <th></th><th></th><th></th>
          </tr><tr></tr>
          <tr bgcolor="#c9e0c9">
            <th>
              <h4>Number of Submissions: {{user_dict[name]["num_exercises"]}}</h4>
            </th>
            <th>
              <h4>Total Score: {{user_dict[name]["total_score"]}}/{{user_dict[name]["total_full"]}}</h4>
            </th>
            <th><h4>
              <script>
                var input = {{user_dict[name]["total_score"]*100/user_dict[name]["total_full"]}};
              
                document.write(no_decimals(input));
              </script>% </h4>       
            </th>
            <th>
              <a href="{{url_for('codes', all="user", id=name)}}" class="btn btn-default" role="button">All Source Codes</a>
            </th>
          </tr>
          {% for s in user_dict[name]["solutions"] %}
            {% if user_dict[name]["solutions"][s]["report"] %}
              <tr>
                <th>{{ user_dict[name]["solutions"][s]["exercise_name"] }}</th>
                <th>Score: {{ user_dict[name]["solutions"][s]["report"]["stats"]["score"] }}/{{
                		user_dict[name]["solutions"][s]["report"]["stats"]["full_score"] }}
                </th>
            	<th>
            	  <script>
            	    var input = {{user_dict[name]["solutions"][s]["report"]["stats"]["score"]*100/
            	    				user_dict[name]["solutions"][s]["report"]["stats"]["full_score"]}};
            	  
            	    document.write(no_decimals(input));
            	  </script>%     
           		</th>
                <th>
                  <a href="{{url_for('codes', all="", id=s)}}" class="btn btn-default" role="button">Source Code</a>
                </th>
              </tr>
              {% for test_name in user_dict[name]["solutions"][s]["report"]["tests"].keys() %}
                <tr>
                  <td>{{ test_name }}</td>
                  <td>
                    score: {{user_dict[name]["solutions"][s]["report"]["tests"][test_name]["score"]}}/{{
                  		user_dict[name]["solutions"][s]["report"]["tests"][test_name]["full_score"]}}
                  </td>
                  <td>
            	  <script>
            	    var input = {{user_dict[name]["solutions"][s]["report"]["tests"][test_name]["score"]*100/
            	    	user_dict[name]["solutions"][s]["report"]["tests"][test_name]["full_score"]}};
            	  
            	    document.write(no_decimals(input));
            	  </script>%       
           		</td>
                  <td></td>
                </tr>
              {% endfor %}
            {% else %}
              <tr>
                <th>{{ user_dict[name]["solutions"][s]["exercise_name"] }}</th>
                <th>No report found for this submission</th>
                <th></th>
                <th>
                  <a href="{{url_for('generate_report', id=s, return_url=url_for('all_users'))}}" class="btn btn-default" role="button">
                    Generate Report
                  </a>
                </th>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endfor %}
{% endblock %}