{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="#">Error</a></li>
	<li><a href="{{ url_for('home') }}">Home</a></li>
	<li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}

{% block body %}
	<h1>{{error}}</h1>
{% endblock %}