{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="{{ url_for('login') }}">Login</a></li>
{% endblock %}

{% block body %}
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2"></div>
			<div class="col-md-6">
				{% if session.logged_in %} <p> You are logged in </p> {% endif %}
				<h2>Please login:</h2>
				{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
				<form role="form" action="{{ url_for('login') }}" method="POST">
        			<div class="form-group">
          				<label for="username">Username:</label>
          				<input type=text name=username class="form-control" placeholder="Enter username">
        			</div>
        			<div class="form-group">
          				<label for="password">Password:</label>
          				<input type=password name=password class="form-control" placeholder="Enter password">
        			</div>
        			<button type="submit" class="btn btn-default" value="login">Submit</button>
      			</form>
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-1"></div>
		</div>
	<!--p>
	Here is the url for logout {{url_for('logout')}} which is different from {{request.url}}, 
	but is probably the same as {{request.path}}
	</p-->
{% endblock %}