{% extends "layout.html" %}

{% block bar %}
	<li class = "active"><a href="{{ url_for('login') }}">Login</a></li>
{% endblock %}

{% block body %}
	<h1>You were logged out</h1>
	<h3>Thank you for using Aurum</h3>
{% endblock %}