{% extends "layout.html" %}

{% block bar %}

	<li class = "active"><a href="#">Message</a></li>
	<li><a href="{{ url_for('home') }}">Home</a></li>
	<li><a href="{{ url_for('logout') }}">Logout</a></li>
{% endblock %}

{% block body %}

	<h1>Message:</h1><br>
	<h3>{{message}}</h3>
	
{% endblock %}